@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.empty-page {
    height: 100vh;
    width: 100%;
    @include padding(2rem);
    @include displayFlex(column, nowrap, flex-start, center);

    img {
        width: 70%;
        object-fit: cover;
        @include maxWidth($lg) {
            width: 100%;
        };
    }
}