
// DECLARE COLOR GLOBAL VARIABLE
$white: #ffffff;
$yellow:#FFCF4D;
$light-silver:#E5E5E5;
$silver: #E8EEF9;
$light-blue:#51B3F2;
$blue: #18A0FB;
$light-orange-1:#FF994F;
$light-orange-2: #FF9922;
$orange: #FF8A00;
$cyan: #00C4D4;
$purple: #9DA6FF;
$green: #90EB9E;
$dark-green:#4DA85C;
$cyan-green:#3FE9B5;
$black: #373737;

// FONT COLOR
$black-text-color-1: #2C3337;
$black-text-color-2: #52535A;
$silver-text-color: #9E9E9E;

// DECLARE SIZE GLOBAL VARIABLE
$xs: 0;             //  <576px
$sm: 576px;         //  ≥576px
$md: 768px;         //  ≥768px
$lg: 992px;         //  ≥992px
$xl: 1200px;        //  ≥1200px
$xxl: 1400px;       //  ≥1400px
