@import "assets/scss/variables.scss";
@import "assets/scss/mixins";
.intro__infor-icon{
    height: auto;
    width: 42.6px;
    font-size: 12px!important;
    transition: 0.5s;
    .intro__infor-icon__img-icon{
        margin-bottom: 6.03px;
        .intro__infor-icon__icon{
            color:$light-blue;
            cursor: pointer;

        }
        .intro__infor-icon__icon{
            height: 48.23px;
            width: 42.6px;
            background-color: $white;

            @include displayFlex(row, wrap, center, center);
        }
    }
    .intro__infor-icon__img-icon:hover {
        .intro__infor-icon__icon{
            background: $light-blue;
            color:$white;
            transition: 0.8s;
        }
    }

    .fab {
        font-size: 20px!important;   
        @include displayFlex(row, wrap, center, center);
    }
    
}