@import "assets/scss/variables.scss";
.intro-inforicon{
    height: auto;
    width: 42.6px;
    transition: 0.5s;
    .intro-inforicon__imgicon{
        margin-bottom: 6.03px;
        .intro-inforicon__icon{
            color:$light-blue;
            cursor: pointer;


        }
        .intro-inforicon__icon{
            height: 48.23px;
            width: 42.6px;
            background-color: $white;
        
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    .intro-inforicon__imgicon:hover {
        .intro-inforicon__icon{
            background: $light-blue;
            color:$white;
            transition: 0.8s;
        }
    }
    
}