@import 'assets/scss/variables';
@import 'assets/scss/mixins';
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&family=Work+Sans:wght@100;500&family=Zen+Kurenaido&display=swap');

.intro-introduce{
    width: auto;
    height: auto;
    // background-color: chartreuse;
    display: flex;
    padding: 0 0px 0 96px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: -20px;

    .introduce__content{
        width: 500px;
        height: 425px;
        // background-color: chocolate;
        z-index: 5;
        

        .introduce__image{
            height: 112px;
            width: 548px;
            margin-top: 13px;
            position: relative;
            .introduce__pen-img{
                height: 200px;
                width: 276px;
                top: -74px;
                left: 132px;
                z-index: -10;
                position: absolute;
            }

            .introduce__imgcontent{
                height: 100%;
                width: 100%;
                margin-left: -24px;
            }
        }
        .introduce__text{
            height: 84px;
            width: 488px;
            // background-color: darkcyan;

            p{
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .introduce__bnt-icon{
            height: 64.34px;
            width: 100%;
            margin-top: 55.34px;
            // background-color: darkgray;
            display: flex;
            align-items: center;

            .introduce__button{
                height: 61px;
                width: 244px;
                // background-color: darkgreen;

                .introduce__btn{
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    background: #18A0FB;
                    color: $white;
                    text-transform: none;

                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                }
            }
            .introduce__icon{
                height: 100%;
                width: 180px;
                // background-color: darkmagenta;
                margin-left: 32px;
                display: flex;
                align-items: center;
                margin-top: 5px;
                display: flex;
                .introduce__box-icon{
                    height: 42px;
                    width: 42px;
                    // background-color: yellow;
                    margin-left: 14px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .fab{
                        font-size: 22px;
                    }
                }
            }
        }


    }
    .introduce__img{
        width:743px;
        height:425px;

        .introduce__imgcontent{
            height: 100%;
            width: 100%;
        }
    }
    @include maxWidth($md){
        .introduce__img{
            width:500px;
            height:425px;
    
            .introduce__imgcontent{
                height: 100%;
                width: 100%;
            }
        }
    }
    
}
@include maxWidth($xxl){
    .intro-introduce{
        width: auto;
        .introduce__content{
            flex: 2;
            height: auto;
            .introduce__image{
                height: 112px;
                width: 100%;
                margin-top: 13px;
    
                .introduce__imgcontent{
                    height: 100%;
                    width: 100%;
                    margin-left: -24px;
                }
            }
            .introduce__text{
                height: 84px;
                width: 100%;
            }
        }
        .introduce__img{
            flex: 3;
            height: auto;
            .introduce__imgcontent{
                height: 100%;
                width: 100%;
            }
        }
    }
}
@include maxWidth($xl){
    .intro-introduce{
        width: auto;
        padding: 0;
        margin: auto;

        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        
        .introduce__content{
            width: auto;
            height: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .introduce__image{
                height: 112px;
                flex: 1;
                margin-top: 13px;
    
                .introduce__imgcontent{
                    height: 100%;
                    width: 500px;
                    margin-left: -24px;
                }
            }
            .introduce__text{
                height: 84px;
                width: 500px;
            }
            .introduce__bnt-icon{
                width: auto;
            }
        }
        .introduce__img{
            flex: 1;
            height: auto;
            .introduce__imgcontent{
                height: 100%;
                width: 100%;
                padding-right: 0;
            }
        }
    }
}