@import 'assets/scss/variables';
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&family=Work+Sans:wght@100;500&family=Zen+Kurenaido&display=swap');

.intro-introduce{
    width: calc(1440px - 145.24px);
    height: 425.32px;
    // background-color: chartreuse;
    margin: auto;
    display: flex;
    margin-left: 96px;
    margin-right: 49.24px;

    .introduce__content{
        width: 548px;
        height: 100%;
        // background-color: chocolate;
        float: left;
        z-index: 5;
        position: relative;
        .introduce__pen-img{
            height: 200px;
            width: 276px;
            top: -61px;
            left: 132px;
            z-index: -10;
            position: absolute;
        }

        .introduce__image{
            height: 112px;
            width: 548px;
            margin-top: 13px;

            .introduce__imgcontent{
                height: 100%;
                width: 100%;
                margin-left: -24px;
            }
        }
        .introduce__text{
            height: 84px;
            width: 488px;
            // background-color: darkcyan;

            p{
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .introduce__bnt-icon{
            height: 64.34px;
            width: 100%;
            margin-top: 55.34px;
            // background-color: darkgray;
            display: flex;
            align-items: center;

            .introduce__button{
                height: 61px;
                width: 244px;
                // background-color: darkgreen;

                .introduce__btn{
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    background: #18A0FB;
                    color: $white;
                    text-transform: none;

                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px;
                }
            }
            .introduce__icon{
                height: 100%;
                width: 180px;
                // background-color: darkmagenta;
                margin-left: 32px;
                display: flex;
                align-items: center;
                margin-top: 5px;
                display: flex;
                .introduce__box-icon{
                    height: 42px;
                    width: 42px;
                    // background-color: yellow;
                    margin-left: 14px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 2px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .fab{
                        font-size: 22px;
                    }
                }
            }
        }


    }
    .introduce__img{
        width: 763px;
        height: 100%;
        // background-color: cornflowerblue;
        float: left;

        .introduce__imgcontent{
            height: 100%;
            width: 100%;
        }
    }
}
.intro__imgright img{
    right: 0;
    position: absolute;
    z-index: -10;
    top: -19.79px;
}