@import "assets/scss/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&family=Work+Sans:wght@100;500&family=Zen+Kurenaido&display=swap');
.intro-text{
    height: auto;
    width: 501px;
    
    .text__title{
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: $blue;
    }

    p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: $black-text-color-5;
    }
}