@import "assets/scss/variables.scss";
@import "assets/scss/mixins";
.intro-personal{
    cursor: pointer;
    width: 287.54px;
    height: 422.05px;
    // background: #d10f0f;
    box-shadow: 0px 1.06496px 10.6496px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;


    // background-color: chartreuse;
    .personal__bacgruond-img{
        height: 301.47px;
        width: 100%;
        display: flex;
        position: relative;

        .personal__img{
            height: 100%;
            width: 100%;
            object-fit: cover;

            float: left;
        }
        .infor__inforicon{
            position: absolute;
            top: 34.97px;
            right: 0;
            cursor: pointer;
            opacity: 0;
            z-index: -1;
        }
    }
    .personal__name{
        font-family: Work Sans;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
        margin-top: 28.94px;
        color: $black-text-color-6;
    }
    .personal__job{
        font-family: Work Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
        margin-top: 14.47px;
        color: $gray-text-color-1;
        margin-bottom: 18.09px;
    }

}
@include maxWidth($xxl){
 
    .intro-personal{
        width: 500px;
        height: 600px;
        margin: auto;
        .personal__bacgruond-img{
            height: 400px;
            width: 100%;
            display: flex;
            position: relative;
    
        }
    }

}
@include maxWidth($xl){
 
    .intro-personal{
        width: 400px;
        height: 530px;
        margin: auto;
        .personal__bacgruond-img{
            height: 400px;
            width: 100%;
            display: flex;
            position: relative;
    
        }
    }

}
@include maxWidth($lg){
 
    .intro-personal{
        width: 300px;
        height: 450px;
        margin: auto;
        .personal__bacgruond-img{
            height: 300px;
            width: 100%;
            display: flex;
            position: relative;
    
        }
    }

}
@include maxWidth($md){
 
    .intro-personal{
        width: 430px;
        height: 600px;
        margin: auto;
        .personal__bacgruond-img{
            height: 460px;
            width: 100%;
            display: flex;
            position: relative;
    
        }
    }

}


