@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';

.note-table {
    width: 100%;
    height: calc(100vh - #{$headerHeigh} - $noteTableHeaderHeight);
    margin-top: headerHeigh;
    // background-color: red;
    @include displayFlex(column, nowrap, flex-start);

    &__header {
        width: 100%;
        height: $noteTableHeaderHeight;
        background: $light-silver-1;
        @include padding(0 1rem);
        @include displayFlex(row, wrap, space-between, center);
        font-size: 25px;
        font-family: 'Roboto';
        font-weight: 500;
        color: $black-text-color-4;
        line-height: 55px;

        * {
            margin: 0;
        }
    }

    &__tools {
        @include displayFlex(row, wrap, flex-end, center);
        gap: 0.5rem;
    }

    &__container {
        display: flex;
        gap: 0.5rem;
    }
    &__content {
        height: calc(100% - #{$noteTableHeaderHeight * 2});
        width: 100%;
        background: $light-silver-1;
        @include padding(0.5rem 1rem);
        padding-bottom: 0;
        padding-bottom: 0;
        @include displayFlex(row, nowrap, flex-start, flex-start);
        gap: 0.5rem;
        border-radius: 5px;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar{
            -webkit-appearance: none;
            height: 20px;
        }
        &::-webkit-scrollbar-thumb{
            border-bottom: 3px solid white;
            border-top: 3px solid white;
            background-clip: padding-box;
            border-radius: 99px;
            background-color: #cecece;
        }
    }

    &__add {
        // width: 30px;
        height: 100%;
        @include displayFlex();
        justify-content: flex-start;
        gap: 1rem;
        padding-right: 1rem;

        button {
            width: 44px!important;
            height: 44px!important;
            padding: 0!important;
            color: $blue;
            background-color: white;
        }

        svg {
            margin: 0!important;
            padding: 0!important;
        }
    }

    .smooth-dnd-draggable-wrapper{
        padding-right: 0.5rem;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
}