@import 'assets/scss/variables';
@import 'assets/scss/mixins';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&family=Work+Sans:wght@100;500&family=Zen+Kurenaido&display=swap');


.intro-headertop{
    height: auto;
    width: 1440px;
    // background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // margin-right: 98px;
    // flex-direction: column;
    z-index: 10;
    // gap: 100px;
    // gap: 30px;

    .headertop__logo{
        width: 160px;
        height: 64px;
        cursor: pointer;    
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding-left: 98px;
        // margin-bottom: 30px;

        .headertop__img{
            height: 42.46px;
            width: 42.46px;
        }
    }
    .headertop__menu{
        width: 670px;
        height: 34px;
        // background-color: chartreuse;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 98px;

        
        li{
            // background-color: chocolate;
            list-style-type:none ;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            color: $black-text-color-3 ;
            cursor: pointer;
        }
        li:hover {
            color: $cyan-text-color-1;
        }
        
        .headertop__avatar{
            height: 34px;
            width: 34px;
            cursor: pointer;
            .headertop__img{
                height: 100%;
                width: 100%;
                border-radius: 100%;
                object-fit: fill;
            }
        }
    }
@include maxWidth($xl){
    .headertop__menu{
        padding-right: 30px;
        padding-left: 98px;
        width: 100%;
    }
}
@include maxWidth($md){
    .headertop__logo{
            padding-left: 20px !important;  
        }
    .headertop__menu{
        width: 1000px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
}
@include maxWidth($xxl){
    .intro-headertop{
        width: 100%;
    }
}










