@import 'assets/scss/variables';
@import 'assets/scss/mixins';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto:wght@100&family=Work+Sans:wght@100;500&family=Zen+Kurenaido&display=swap');


.intro-headertop{
    height: auto;
    width: 1320px;
    // background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 98px;
    // flex-direction: column;
    z-index: 10;
    .intro-headertop__bars{
        display: none;
        cursor: pointer;
    }

    .intro-headertop__logo{
        width: 160px;
        height: 64px;
        cursor: pointer;    
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding-left: 98px;
        // margin-bottom: 30px;

        .intro-headertop__logo{
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;

            .intro-headertop__img{
                height: 42.46px;
                width: 42.46px;
            }
            
        }

    }
    .intro-headertop__menu{
        width: 670px;
        height: 34px;
        // background-color: chartreuse;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        li{
            // background-color: chocolate;
            list-style-type:none ;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0em;
            color: $black-text-color-3 ;
            cursor: pointer;
        }
    .intro-headertop__avatar{
        height: 34px;
        width: 34px;
        cursor: pointer;
        .intro-headertop__img{
            height: 100%;
            width: 100%;
            border-radius: 100%;
            object-fit: fill;
        }
        }
    @include maxWidth($xl){
        li{
            font-size: 16px;
        }
    }
        li:hover {
            color: $cyan-text-color-1;
        }
    }
@include maxWidth($xl){
    .intro-headertop__menu{
        padding-right: 50px;
        // padding-left: 98px;
        width: 60%;
    }
}
}
@include maxWidth($md){
    .intro-headertop{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .intro-headertop__bars{
            display: flex !important;
            padding-left: 30px;
            .fas{
                font-size: 50px;
                color: $blue;
            }
        }
        .intro-headertop__menu{
            width: 34px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 50px;

            li{
                display: none;
            }
        }
    }
}
@include maxWidth($xxl){
    .intro-headertop{
        width: 100%;
        .intro-headertop__bars{
            display: none;
        }
    }
}












