@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.small-tab {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    @include displayFlex(column, wrap, flex-start, flex-start);

    &__description {
        text-align: left;
        color: $black-text-color-2;
    }

    &__content {
        width: 100%;
        height: auto;
        @include displayFlex(row, wrap, flex-start, flex-start);
        gap: 1rem;
    }

    &__list {
        width: 200px;
        @include displayFlex(column, wrap, flex-start, flex-start);

        p, h4 { margin: 0; }
        h4 { color: $black-text-color-2; font-size: 14px; }
        p { color: #383838; font-size: 16px; }
    }

    &__title {
        font-size: 14px;
        color: $blue;
        text-transform: uppercase;
    }
    
}