@import "assets/scss/mixins.scss";
@import "assets/scss/variables.scss";

.intro-footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  $blue;
    .intro-footer__logo-text{
        width: auto;
        display: flex;
        align-items: center;
        padding-left: 135px;
        overflow: hidden;
        .intro-footer__iconbtn{
            height: 24px;
            width: 24px;
            margin-right: 18px;
        }
    
        .intro-footer__p{
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
    }
    .intro-footer__muiten{
        height: 30px;
        width: 30px;
        padding-right: 143.5px;
    }


}

@include maxWidth($xxl){
.intro-footer{
    width: 100%;
}
}
@include maxWidth($lg){
    .intro-footer{
        width: 100%;
        .intro-footer__logo-text{
            width: auto;
            padding-left: 0px;        
        }
        .intro-footer__muiten{
            padding-right: 0px;
        }   
    }
     
}
    

