@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
.Login-form__input {
    // background-color: $blue !important ;
    height: 58px;
    width: 575px;
    left: 0px;
    // top: 96px;
    margin-top: 20px !important;
    border-radius: 5px;
    padding: 16px, 24px, 16px, 24px;
    @include maxWidth($lg) {
        width: 460px;
        height: 46.5px;
        transition: 0.25s;
        margin-top: 16px !important;
    }
    @include maxWidth($md) {
        height: 37px;
        width: 368px;
        margin-top: 13px !important;
    }
    @include maxWidth($sm) {
        height: 29.5px;
        width: 294.5px;
        margin-top: 10px !important;
    }
    input#margin-normal {
        padding: 16.5px 14px;
        @include maxWidth($lg) {
            padding: 13px 11px;
        }
        @include maxWidth($md) {
            padding: 8px 9px;
        }
        @include maxWidth($sm) {
            padding: 6px 7px;
        }
    }
}
.Login-form__button {
    height: 58px;
    width: 575px;
    left: 0px;
    margin-top: 25px !important;
    border-radius: 5px;
    background-color: $blue !important;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 28px;
    @include maxWidth($lg) {
        width: 460px;
        max-height: 46px !important;
        transition: 0.25s;
        margin-top: 13.5px !important;
        font-size: 16px !important;
    }
    @include maxWidth($md) {
        height: 37px;
        width: 368px;
        margin-top: 5px !important;
        font-size: 13px !important;
    }
    @include maxWidth($sm) {
        height: 30px;
        width: 294.5px;
        margin-top: 8px !important;
        font-size: 10px !important;
    }
}
.Login-form__bottom {
    height: 38px;
    width: 575px;
    margin-top: 5px;
    @include DisplayFlexRowCenter($justy: space-between);
    @include maxWidth($lg) {
        width: 460px;
        max-height: 30.5px !important;
        transition: 0.25s;
        margin-top: 4px;
    }
    @include maxWidth($md) {
        height: 24.5px;
        width: 368px;
        margin-top: 3px;
    }
    @include maxWidth($sm) {
        height: 19.5px;
        width: 294.5px;
        margin-top: 0.5px;
    }
    &--link {
        a {
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            color: $color-link;
            @include maxWidth($md) {
                font-size: 13px;
            }
            @include maxWidth($sm) {
                font-size: 10px;
            }
        }
    }
    &--link:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: 0.25s;
    }
}
.Login-form__footer {
    width: 575px;
    @include DisplayFlexColumnCenter();
    @include maxWidth($lg) {
        width: 460px;
    }
    @include maxWidth($md) {
        width: 368px;
    }
    @include maxWidth($sm) {
        width: 294.5px !important;
    }
    &--icons {
        width: 308px;
        height: 49px;
        @include DisplayFlexRowCenter($justy: space-between);
        @include maxWidth($lg) {
            width: 246.5px;
            height: 39px;
        }
        @include maxWidth($md) {
            width: 197px;
            height: 31px;
        }
        @include maxWidth($sm) {
            width: 157.5px !important;
            height: 25px;
        }
    }
}
.fab {
    height: 49px;
    width: 49px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    font-size: 49px;
    cursor: pointer;
    @include maxWidth($lg) {
        width: 39px;
        height: 39px;
        transition: 0.25s;
        font-size: 39px !important;
    }
    @include maxWidth($md) {
        width: 31px;
        height: 31px;
        transition: 0.25s;
        font-size: 31px !important;
    }
    @include maxWidth($sm) {
        height: 25px;
        width: 25px;
        font-size: 25px !important;
    }
}
.fab:hover {
    font-size: 50px;
    @include maxWidth($lg) {
        font-size: 40px !important;
    }
    @include maxWidth($md) {
        font-size: 32px !important;
    }
    @include maxWidth($sm) {
        font-size: 26px !important;
    }
}
.fa-google {
    color: $color-gg;
}
.fa-twitter {
    color: $color-tw;
}
.fa-facebook {
    color: $color-fb;
}
.fa-github {
    color: $color-github;
}
.Login-form__text {
    position: relative;
    width: 575px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: -5px;
    @include maxWidth($lg) {
        width: 460px;
        height: 40px;
        transition: 0.25s;
        margin-top: -4px;
    }
    @include maxWidth($md) {
        width: 368px;
        height: 31px;
        transition: 0.25s;
        margin-top: -3px;
    }
    @include maxWidth($sm) {
        height: 25px;
        width: 294.5px;
        margin-top: -2px;
        // font-size: 3px;
        margin-bottom: 10px;
    }
}
.Login-form__sym {
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: -1px;
    @include maxWidth($lg) {
        bottom: -6.75px;
    }
    @include maxWidth($md) {
        bottom: -11px;
    }
    @include maxWidth($sm) {
        bottom: -10px;
        z-index: 1;
    }
}
.Login-form__string {
    position: absolute;
    z-index: 2;
    width: fit-content;
    background-color: $white;
    text-align: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    // // top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $font-text-color-3;
    @include maxWidth($lg) {
        font-size: 16px;
    }

    @include maxWidth($md) {
        font-size: 13px;
        padding-left: 16px;
        padding-right: 16px;
    }
    @include maxWidth($sm) {
        height: 15px;
        padding-left: 13px;
        padding-right: 13px;
        font-size: 10px;
        bottom: -6px;
    }
}
