@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
.Register-form--header {
    height: 101px;
    width: 65vw;
    @include DisplayFlexRowCenter($justy: space-between, $align: flex-end);
    margin-bottom: 25px;
    margin: 0 auto;
    @include maxWidth($lg) {
        height: 81px;
        // width: 721px !important;
        transition: 0.25s;
        margin-bottom: 20px;
        // margin: 0 auto;
    }
    @include maxWidth($md) {
        // width: 577px !important;
        height: 65px;
        margin-bottom: 16px;
        // margin: 0 auto;
    }
    @include maxWidth($sm) {
        height: 52px;
        // width: 461.5px !important;
        margin-bottom: 13px;
        // margin: 0 auto;
    }
    &__left {
        // background-color: $cyan-green !important;
        width: 18vw;
        height: 5vh;
        @include DisplayFlexRowCenter($justy: space-between);
        transition: 0.25s;
        cursor: pointer;
        // @include maxWidth($lg) {
        //     height: 56px;
        //     width: 200px;
        //     transition: 0.25s;
        // }
        // @include maxWidth($md) {
        //     height: 45px;
        //     width: 160px;
        // }
        // @include maxWidth($sm) {
        //     width: 128px;
        //     height: 36;
        // }
        &_image {
            height: 69px;
            width: 69px;
            @include maxWidth($lg) {
                height: 55px;
                width: 55px;
                transition: 0.25s;
            }
            @include maxWidth($md) {
                height: 44px;
                width: 44px;
            }
            @include maxWidth($sm) {
                width: 35px;
                height: 35px;
            }
            @include maxWidth($smallPhone) {
                width: 25px;
                height: 25px;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
        &_nottable {
            @include maxWidth($lg) {
                height: 33.5px;
                width: 132px;
                transition: 0.25s;
            }
            @include maxWidth($md) {
                height: 27px;
                width: 105.5px;
            }
            @include maxWidth($sm) {
                width: 84.5px;
                height: 21.5px;
            }
            @include maxWidth($smallPhone) {
                width: 67.5px;
                height: 17px;
                margin-bottom: -15px;
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__right {
        // background-color: $blue;
        height: 24px;
        width: 350px;
        @include DisplayFlexRowCenter($justy: space-between);
        // justify: space-between;
        @include maxWidth($lg) {
            height: 19px;
            width: 280px !important;
            transition: 0.25s;
        }
        @include maxWidth($md) {
            height: 15px;
            width: 240px !important;
        }
        @include maxWidth($sm) {
            width: 190px !important;
            height: 12px;
        }
        @include maxWidth($smallPhone) {
            width: 125px;
            // font-size: 6px;
            // margin-right: 2px;
        }
        &_link {
            width: 175px;
            @include maxWidth($lg) {
                width: 140px;
            }
            @include maxWidth($md) {
                width: 112px;
            }
            @include maxWidth($sm) {
                width: 89.5px !important;
            }
            @include maxWidth($smallPhone) {
                width: 60px;
                // font-size: 6px;
                // margin-right: 2px;
            }
            a {
                text-decoration: none;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                overflow: hidden;
                color: $color-link-2;
                @include maxWidth($lg) {
                    font-size: 16px;
                }
                @include maxWidth($md) {
                    font-size: 13px !important;
                }
                @include maxWidth($sm) {
                    font-size: 10px !important;
                }
                @include maxWidth($smallPhone) {
                    // width: 45px;
                    font-size: 8px !important;
                    // margin-right: 2px;
                }
            }
            a:hover {
                text-decoration: underline;
            }
        }
        &_language {
            height: 100%;
            width: 12.5vw;
            // background-color: red;
            border-right: 1px solid #999999;
            @include maxWidth($lg) {
                height: 80%;
                width: 140px;
                transition: 0.25s;
            }
            @include maxWidth($md) {
                width: 112px;
            }
            @include maxWidth($sm) {
                width: 89.5px;
            }
            @include maxWidth($smallPhone) {
                width: 65px;
                // font-size: 6px;
                // margin-right: 2px;
                padding-bottom: 0px;
                margin-bottom: -5px;
            }
            .fas {
                font-size: 20px;
                @include maxWidth($lg) {
                    font-size: 16px;
                }
                @include maxWidth($md) {
                    font-size: 13px;
                }
                @include maxWidth($sm) {
                    font-size: 10px;
                }
                @include maxWidth($smallPhone) {
                    // width: 45px;
                    font-size: 6px;
                    // margin-right: 2px;
                }
            }
            @include DisplayFlexRowCenter();
            select {
                width: 130px;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                outline: none;
                border: none;
                color: $color-lang;
                background-color: $color-page-login;
                cursor: pointer;
                margin-right: 10px;
                @include maxWidth($lg) {
                    width: 104px;
                    transition: 0.25s;
                    font-size: 16px;
                    margin-right: 8px;
                }
                @include maxWidth($md) {
                    width: 83px;
                    font-size: 13px;
                    margin-right: 6.5px;
                }
                @include maxWidth($sm) {
                    width: 66.5px;
                    font-size: 10px;
                    margin-right: 5px;
                }
                @include maxWidth($smallPhone) {
                    width: 45px;
                    font-size: 6px;
                    margin-right: 2px;
                }
            }
        }
    }
}
.Register-form--title {
    @include DisplayFlexColumnCenter();
    // text-align: center;
    background-color: $blue;
    width: 65vw;
    margin-top: 24px;
    height: 58px;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: $white;
    border-radius: 5px 5px 0px 0px;
    @include maxWidth($lg) {
        // width: 721px;
        transition: 0.25s;
        // margin: 0 auto;
        margin-top: 19;
        height: 46.5px;
        font-size: 19px;
    }
    @include maxWidth($md) {
        height: 37px;
        // width: 577px;
        margin-top: 15px;
        font-size: 15px;
    }
    @include maxWidth($sm) {
        height: 29.5px;
        // width: 461.5px;
        margin-top: 12px;
        font-size: 12px;
    }
    @include maxWidth($smallPhone) {
        margin-top: 0 !important;
        // margin-bottom: 10px !important;
        height: 23px !important;
        font-size: 10px !important;
    }
}
