@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
.Register--page {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: $color-page-login;
    @include DisplayFlexColumnCenter();
    gap: 0 !important;
    grid-gap: 0 !important;
    overflow: auto;
}
.Register--form {
    height: 973px;
    width: 901px;
    background-color: $white;
    @include DisplayFlexColumnCenter($justy: flex-start);
    padding-top: 25px;
}
