@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.vertical-tab {
    width: 100%;
    height: auto;
    min-height: calc(100vh);

    @include maxWidth($lg) {
        display: flex;
        flex-direction: column!important;
    }

    &__tab {
        box-sizing: border-box;
        padding-top: 20px;
        width: 216px !important;
        text-transform:inherit!important;
        gap: 10px!important;

        @include maxWidth($lg) {
            width: 100%!important;
        }

        .Mui-selected {
            color: $black-text-color-1 !important;
            background-color: $silver-background!important;
        }
    }

    &__drawer {
        height: 53px!important;
        text-align: left !important;
        justify-content: flex-start!important;
        flex-direction: row!important;
        padding-left: 26px !important;
    }

    button.vertical-tab__drawer {
        min-height: 48px!important;
        display: flex;
        justify-content: flex-start!important;
        align-items: center !important;
        gap: 1rem;
        text-transform: initial!important;

        @include maxWidth($md) {
            flex-direction: column!important;
        }

        svg {
            padding: 2px;
            font-size: 17px;
            color: $white;
        }

        div {
            height: 28px;
            width: 28px;
            background-color: $yellow;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(4px);
        }

        @include maxWidth($lg) {
            width: calc(100% /3);
        }
    }

    & > button:first-child{
        margin-top: 20px !important;
    }

    button:nth-child(2) > div {
        background-color: $cyan-green!important;
    }

    button:nth-child(3) > div {
        background-color: $orange!important;
    }

    .tab-icon {
        height: 48px !important;
    }

    span {
        background-color: unset!important;
    }

    &__panel {
        background-color: $silver-background;
        width: 100%;
        min-height: 600px;

        & > div {
            padding: 0!important;
        }
    }
    
}

@include maxWidth($lg) {
    .MuiTabs-flexContainer.MuiTabs-flexContainerVertical {
        flex-direction: row;
    }
}
