@import "assets/scss/_variables.scss";
@import "assets/scss/_mixins.scss";
.Register-form {
    &__input {
        // background-color: $blue !important ;
        height: 58px;
        width: 41vw;
        left: 0px;
        // top: 96px;
        margin-top: 20px !important;
        border-radius: 5px;
        padding: 16px, 24px, 16px, 24px;
        @include maxWidth($lg) {
            // width: 460px;
            height: 46.5px;
            transition: 0.25s;
            margin-top: 16px !important;
        }
        @include maxWidth($md) {
            height: 37px;
            // width: 368px;
            margin-top: 13px !important;
        }
        @include maxWidth($sm) {
            height: 29.5px;
            // width: 294.5px;
            margin-top: 10px !important;
        }
        @include maxWidth($smallPhone) {
            margin-top: 0 !important;
            margin-bottom: 10px !important;
        }
        input#input_form {
            padding: 16.5px 14px;
            @include maxWidth($lg) {
                padding: 13px 11px;
            }
            @include maxWidth($md) {
                padding: 8px 9px;
            }
            @include maxWidth($sm) {
                padding: 6px 7px;
            }
            @include maxWidth($smallPhone) {
                padding: 5px 6px;
                font-size: 10px;
            }
        }
    }
    &__checkbox {
        width: 41vw;
        @include DisplayFlexRowCenter($justy: flex-start);
        margin: 0 auto;
        @include maxWidth($smallPhone) {
            height: 20px;
            margin-top: -10px;
        }
        input {
            margin-right: 15px;
            @include maxWidth($smallPhone) {
                height: 15px;
                width: 15px;
            }
        }
    }
    &__rules {
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        @include maxWidth($lg) {
            font-size: 12px !important;
            margin-left: -10px;
        }
        @include maxWidth($md) {
            font-size: 10px !important;
        }
        @include maxWidth($sm) {
            font-size: 7px !important;
            // margin: 0 auto;
            // margin-left: 120px;
        }
        @include maxWidth($smallPhone) {
            font-size: 6px;
        }
        a {
            text-decoration: none;
            color: $color-link-3;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            @include maxWidth($lg) {
                font-size: 12px;
            }
            @include maxWidth($md) {
                font-size: 10px;
            }
            @include maxWidth($sm) {
                font-size: 7px;
            }
            @include maxWidth($smallPhone) {
                font-size: 6px;
            }
        }
        a.rule {
            color: $color-link-3;
        }
        a.sec {
            color: $color-link-4;
        }
    }
    &__button {
        height: 58px;
        width: 41vw;
        margin-top: 17px !important;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px !important;
        line-height: 28px;
        background-color: $blue !important;
        @include maxWidth($lg) {
            // width: 460px;
            max-height: 46px !important;
            transition: 0.25s;
            margin-top: 13.5px !important;
            font-size: 16px !important;
        }
        @include maxWidth($md) {
            height: 37px;
            // width: 368px;
            margin-top: 5px !important;
            font-size: 13px !important;
        }
        @include maxWidth($sm) {
            height: 30px;
            // width: 294.5px;
            margin-top: 8px !important;
            font-size: 10px !important;
        }
        @include maxWidth($smallPhone) {
            margin-top: 0 !important;
            margin-bottom: 10px !important;
            height: 23px !important;
            font-size: 8px !important;
        }
    }
    &__footer {
        width: 41vw;
        @include DisplayFlexColumnCenter();
        margin: 0 auto !important;
        @include maxWidth($lg) {
            // width: 460px;
            // margin: 0 auto;
        }
        @include maxWidth($md) {
            // width: 368px;
        }
        @include maxWidth($sm) {
            // width: 294.5px !important;
        }
        &--icons {
            width: 308px;
            height: 49px;
            @include DisplayFlexRowCenter($justy: space-between);
            @include maxWidth($lg) {
                width: 246.5px;
                height: 39px;
            }
            @include maxWidth($md) {
                width: 197px;
                height: 31px;
            }
            @include maxWidth($sm) {
                width: 157.5px !important;
                height: 25px;
            }
            @include maxWidth($smallPhone) {
                width: 110px !important;
                height: 20px;
            }
        }
    }
    &__text {
        position: relative;
        width: 41vw;
        height: 50px;
        overflow: hidden;
        box-sizing: border-box;
        transition: 0.25s;
        margin-top: -5px;
        @include maxWidth($lg) {
            // width: 460px;
            height: 40px;
            transition: 0.25s;
            margin-top: -4px;
        }
        @include maxWidth($md) {
            // width: 368px;
            height: 31px;
            transition: 0.25s;
            margin-top: -3px;
        }
        @include maxWidth($sm) {
            height: 25px;
            // width: 294.5px;
            margin-top: -2px;
            font-size: 3px;
            margin-bottom: 10px;
        }
        @include maxWidth($smallPhone) {
            height: 20px;
            // width: 294.5px;
            margin-top: -10px;
            font-size: 3px;
            margin-bottom: 10px;
        }
    }
    &__sym {
        position: absolute;
        z-index: 1;
        text-align: center;
        bottom: -1px;
        @include maxWidth($lg) {
            bottom: -6.75px;
        }
        @include maxWidth($md) {
            bottom: -11px;
        }
        @include maxWidth($sm) {
            // bottom: -10px;
            z-index: 1;
        }
        @include maxWidth($smallPhone) {
            // width: 294.5px;
            margin-top: -2px;
        }
    }
    &__string {
        position: absolute;
        z-index: 2;
        width: fit-content;
        background-color: $white;
        text-align: center;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;

        // // top: 50%;
        left: 50%;
        transform: translate(-50%, 0);

        font-family: Roboto;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: $font-text-color-3;
        @include maxWidth($lg) {
            font-size: 16px;
        }

        @include maxWidth($md) {
            font-size: 10px;
            padding-left: 16px;
            padding-right: 16px;
        }
        @include maxWidth($sm) {
            height: 15px;
            padding-left: 13px;
            padding-right: 13px;
            font-size: 8px;
            bottom: -6px;
        }
        @include maxWidth($smallPhone) {
            // height: 15px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 5.5px;
            bottom: -6px;
        }
    }
}
.fab {
    height: 49px;
    width: 49px;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    font-size: 49px;
    cursor: pointer;
    @include maxWidth($lg) {
        width: 39px;
        height: 39px;
        transition: 0.25s;
        font-size: 39px !important;
    }
    @include maxWidth($md) {
        width: 31px;
        height: 31px;
        transition: 0.25s;
        font-size: 31px !important;
    }
    @include maxWidth($sm) {
        height: 25px;
        width: 25px;
        font-size: 25px !important;
    }
    @include maxWidth($smallPhone) {
        height: 20px;
        width: 20px;
        font-size: 20px !important;
    }
}
.fab:hover {
    font-size: 50px;
    @include maxWidth($lg) {
        font-size: 40px !important;
    }
    @include maxWidth($md) {
        font-size: 32px !important;
    }
    @include maxWidth($sm) {
        font-size: 26px !important;
    }
    @include maxWidth($smallPhone) {
        font-size: 21px !important;
    }
}
.fa-google {
    color: $color-gg;
}
.fa-twitter {
    color: $color-tw;
}
.fa-facebook {
    color: $color-fb;
}
.fa-github {
    color: $color-github;
}
#input_form-helper-text {
    @include maxWidth($lg) {
        margin-left: 0;
        padding: 0;
    }
    @include maxWidth($md) {
        font-size: 12px;
        margin-top: -1px;
    }
    @include maxWidth($sm) {
        // bottom: -10px;
        font-size: 10px;
    }
    @include maxWidth($smallPhone) {
        font-size: 6px;
        // margin: 0;
        margin-top: 3px;
    }
}
