@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.account {
    width: 100vw;
    height: 100%;
    transition: $primary-transition;
    @include displayFlex(row, nowrap, flex-start, center);

    @include maxWidth($phone) {
        display: block;
        text-align: left;
    }

    a { color: $dark-blue-1; font-weight: 600;}

    .MuiOutlinedInput-root.MuiInputBase-root {
        gap: 0.5rem;
    }

    &__left {
        width: 50%;
        min-width: 600px;
        height: auto;
        transition: $primary-transition;
        @include displayFlex(column, wrap, space-around, flex-start);
        @include padding(2rem 7rem);
        gap: 2rem;

        @include maxWidth($md) {
            width: 100%;
            gap: 1rem;
        }
        @include maxWidth($phone) {
            padding: 1rem 1.5rem;
            min-width: 320px;
        }
    }

    &__header {
        width: 100%;
        height: 40px;
        text-align: left;

        img { height: 100%;}
    }

    &__space {
        width: 100%;
        height: 30px;
        position: relative;

        span {
            color: $subtitle-text-color;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 30;
            background-color: $white;
            padding: 0 1rem;
        }

        &::before {
            position: absolute;
            width: 100%;
            height: 1px;
            content: '';
            top: 50%;
            left: 0;
            background-color: lighten($color: $gray-text-color, $amount: 20);
        }
    }

    &__login-form,
    &__register-form {
        width: 100%;
        height: auto;
        @include displayFlex(column, nowrap, center, flex-start);
        gap: 1rem;
        text-align: left;

        h3 {
            margin: 0;
            color: $dark-blue-1;
            font-size: 28px;
        }
        p {
            font-weight: 500;
            margin: 0;
            color: $dark-blue-1;
            margin-top: -10px;
            margin-bottom: 1rem;
        }
        * { border: none!important }
    }

    &__text-fields {
        width: 100%;
        @include displayFlex(column, nowrap, center, flex-start);
        gap: 1rem;
    }

    &__show-error {
        font-size: 14px;
        color: $red!important;
        margin: 0;
    }

    &__button {
        height: 50px;
        min-height: 50px!important;
        color: $dark-blue-1;
    }

    &__submit {
        background-color: $medium-green!important;
    }

    &__line {
        width: 100%;
        @include displayFlex(row, nowrap, space-between, center);
        gap: 1rem;

        @include maxWidth($phone) {
            flex-wrap: wrap!important;
            gap: 0.25rem;
        }
    }

    &__gray-bg {
        color: $dark-blue-1!important;
        background-color: $silver-background-1!important;

        svg { color: $dark-blue-1!important; }
    }

    &__right {
        width: 50%;
        height: 100%;
        background-color: $light-blue-1;
        background-position: center;
        background-size: cover;
    }

    .MuiFormHelperText-root.Mui-error {
        margin-right: 10px;
        text-align: right;
    }

    .MuiOutlinedInput-input.MuiInputBase-input {
        padding-left: 10px;
    }
}